APP_NAME=Clasificador Inteligente de Documentos con IA
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000
DATABASE_URL=postgresql+psycopg://postgres:postgres@127.0.0.1:5433/clasificador_documentos_ia
UPLOADS_DIR=uploads
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIMENSIONS=384
SEMANTIC_SEARCH_TOP_K=5